 <p>Enter a word and sentence</p>
    <p>Submit to find out how many times your word occurs in the sentence.</p>
    <div class="form-group">
      <form action="/result" method="post">
        <label for="word">Enter a Word</label>
        <input class="form-control" id="word" name="word" type="text">
        <label for="sentence">Enter a sentence</label>
        <input class="form-control" id="sentence" name="sentence" type="text">
      </br>
      <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>