<h1>Here are your results!</h1>

<h3>The word @Model.GetWord() appears @Model.CountWord() times in the sentence you entered.</h3>

<button><a href="/">Back home</a></button>
<button><a href="/game">Play again</a></button>
